/* Main Settings */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.959);
    font-family: Arial, Helvetica, sans-serif;
}


h2, h3 {
    font-family: monospace;
}

/*
.img-card{
    height: 10%;
    width: 10%;
}
*/

/* Header Area */
.header {
    background-color: rgb(122, 179, 179);
    font-size: 1em;
    list-style: none;
    text-align: end;
    border: 1px solid red;
}
/* Header Area End */

/* Footer Area*/
.footer {
    padding: 0.2rem;
    margin: 0;
    border: 1px solid red;
}

.footer ul {
    display:flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;

    align-items: center;
}
/* Footer Area End*/

/* Content Area Start */
.content {
    gap: 5em;
}
/* Content Area End */

.card-area {
    border: 1px solid red;
    margin: 0.3em;
    background-color: rgb(122, 179, 179);
}
a, a:hover, a:active, a:focus {
    color:white;
    text-decoration: none;
}


/* Beginn Content */
/* Beginn Begruessungs Bereich */
.begruessung-ueberschrift {
    text-align: center;
    color: white;
    font-family: monospace;
    border: 1px solid red;
}

.begruessungs-bereich {
    background-color: rgb(122, 179, 179);
}

/* Ende Begruessungs Bereich */

/* Warum mache ich das? Bereich Start */
.warum {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 0.5fr 1fr;
    color:white;
    background-color: rgba(0, 0, 0, 0.384);
}

.warum-header {
    grid-row: 1 / 1;
    grid-column: 2 / 4;
    text-align: center;
}

.warum-text {
    grid-row: 2;
    grid-column: 1 / 5;
    font-size: 0.7rem;
    text-align: center;
}
/* Warum mache ich das ? Bereich Ende */

/* Anfang WhoAmI Bereich */
.whoami {
    padding: 0.5em;
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.whotext {
    grid-column: 2 / 4;
    grid-row: 2;
    display:flex;
    align-items: center;

}

.whoami p {
    text-align: center;
}
.whoami h2 {
    grid-column: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
}

.picture {
    grid-column: 1 / 2;
    display:flex;
    width: 200px;
    height: 200px;
    margin: 1em;
    border-radius: 50%;
    background-color:red;
}
/* Ende WhoAmI Bereich */

/* Anfang WasIst Bereich */
.was {
    padding: 0.5em;
    gap: 1em;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 3fr;
    text-align: center;
}

/* TODO 1 bearbeiten */
.was-box {
    border: 1px solid red;
    padding: 50px;
    width: 200px;
}

.was h2 {
    text-align: center;
    grid-column: 2 / 4;
    grid-row: 1;
}

.was-one {
    border: 1px solid green;
    grid-row:2;
    grid-column: 1 / 2;
}
.was-two {
    border: 1px solid purple;
    grid-row:2;
    grid-column: 2 / 3;
}
.was-three {
    border: 1px solid blue;
    grid-row:2;
    grid-column: 3 / 4;
}

/* Ende WasIst Bereich */

/* Anfang WasMachenWir Bereich */
/*.machen{

}
*/
.machen-box {
    border: 1px solid red;
    width: 200px;
    padding: 150px;
}
/* Ende WasMachenWir Bereich */

/* Anfang Unterkategorie Programmieren Bereich */
.programmieren {
    display:flex;
    justify-items: center;
}
/*
.programmieren h3 {

}

.progone {

}

.progtwo {

}

.progthree {

}
*/
/* Ende Unterkategorie Programmieren Bereich */

/* Anfang Unterkategorie Hardware Bereich */
/*
.hardware {

}
/* Ende Unterkategorie Hardware Bereich */

/* Anfang Unterkategorie Hacken Bereich */
/*
.hacken {

}
*/
/* Ende Unterkategorie Hacken Bereich */

/* Anfang Unterkategorie Andere Bereich */
/*
.andere {

}
*/
/* Ende Unterkategorie Andere Bereich */

/* Anfang WoFindetManUns Bereich */


.wo h2 {
    text-align: center;
}
/*

.wo {

}

.irc-box {
}

.discord-box {
}

.email-box {
}
*/

/* Ende WoFindetManUns Bereich */
/*Ende Content */